{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "cleanjs",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "jest"
  ],
  "rules" : {
    "fp/no-nil": "warn",    
    "no-confusing-arrow": "warn",
    "no-mixed-operators": "warn",
    "semi": ["error", "never"]
  }
}