{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "cleanjs",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "flowtype",
    "jest"
  ],
  "rules" : {
    "better/no-new": "warn",
    "fp/no-nil": "warn",    
    "fp/no-rest-parameters": "warn", 
    "no-confusing-arrow": "warn"
  }
}